[Unit]
Description=Devvm setup service (booter)
After=multi-user.target

[Service]
Type=oneshot
Environment="CAROOT=/root/.local/share/mkcert"
RemainAfterExit=yes
KillMode=process
Restart=on-failure
RestartSec=3s
ExecStart=/home/dev/devvm/devvm/go/booter -log-level debug -system-mode

[Install]
WantedBy=multi-user.target
