INSECURE=true
INIT_ENABLED=true
INIT_USERNAME=USERNAME_PLACEHOLDER
INIT_PASSWORD=PASSWORD_PLACEHOLDER
INIT_HOST=PUBLIC_IP_PLACEHOLDER
INIT_PORT=51820
INIT_IPV4_CIDR={{ wireguard_net }}
# Just a placeholder, we do not use ipv6
INIT_IPV6_CIDR=fd12:3456:789a:1::/64
DISABLE_IPV6=true
INIT_ALLOWED_IPS={{ route_address }}
INIT_DNS=""
